@model Project1WebApp.Models.OrderDetailsViewModel

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>Order Details</h1>
<h6>Customer: @Model.CustomerName</h6>
<h6>Location: @Model.LocationName</h6>
<h6>Items bought: </h6>
<table class="table" aria-describedby="Order Details of customer @Model.CustomerName in @Model.LocationName branch">
    <thead>
        <th scope="col">
            Product
        </thscope="col">
        <th scope="col">
            Price (per unit)
        </th>
        <th scope="col">
            Quantity
        </th>
    </thead>
    <tbody>
        @foreach (AvailInvViewModel item in Model.custBought)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @String.Format("{0:c}", item.Price)
                </td>
                <td>
                    @item.Stock
                </td>
            </tr>
        }
    </tbody>
</table>
<h6>Total:  @String.Format("{0:c}", ViewData["Total"])</h6>
<a asp-action="Home"/>

