@model Project1WebApp.Models.PlaceOrderViewModelV2

@{
    ViewData["Title"] = "PlaceOrderV2";
}

<h1>PlaceOrderV2</h1>

<form asp-action="AddOrder">
    <div class="form-inline">

        <table class="table">
            <thead>

            <th>
                Product
            </th>
            <th>
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Quantity
            </th>
            </thead>

            <tbody>
                @foreach (AvailInvViewModel item in Model.availInventory)
                {
                    <tr>
                        <td colspan="2">
                            <label class="control-label">
                                <input type="checkbox"
                                       name="@nameof(Model.custBought)"
                                       value="@item.InventID" class="form-control" />@item.ProductName
                                </label>
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.Stock
                            </td>
                            <td>
                                @*<label asp-for="@(Model.Quantity)" class="control-label"></label>*@
                                <input asp-for="@(Model.Quantity)" class="form-control" />
                                <span asp-validation-for="@(Model.Quantity)" class="text-danger"></span>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>

    </div>
    @Html.Hidden("CustID", Model.CustID)
    @Html.Hidden("LocID", Model.LocID)

    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-primary" />
    </div>
</form>