@model IEnumerable<Project1WebApp.Models.InventoryViewModel>

@{
    ViewData["Title"] = "GetInventory";
}

<h1>Location Inventory of @Model.First().BanchName</h1>

<table class="table" summary="Available inventory of @Model.First().BanchName">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
        </tr>
}
    </tbody>
</table>
