@model Project1WebApp.Models.LocationOrderHistoryViewModel
@{
    ViewData["Title"] = "OrderHistory";
}

<h1>Order History of @Model.BranchName</h1>
@if (Model.Order.Count > 0)
{
    int ctr = 0;
    <table class="table" summary="Order history of @Model.BranchName">
        <thead>
            <tr>
                <th scope="col">
                    Customer Name
                </th>
                <th scope="col">
                    Order Date
                </th>
                <th scope="col">
                    Product
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col">
                    Total
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Order)
            {
                ctr = 0;
                foreach (CustOrderViewModel custO in item.CustomerOrder)
                {
                    if (ctr == 0)
                    {
                        <tr>
                            <td rowspan=@item.CustomerOrder.Count()>
                                @Html.DisplayFor(modelItem => item.CustName)
                            </td>
                            <td rowspan=@item.CustomerOrder.Count()>
                                @Html.DisplayFor(modelItem => item.OrdDate)
                            </td>
                            <td>
                                @custO.ProductName
                            </td>
                            <td>
                                @custO.Stock
                            </td>
                            <td rowspan=@item.CustomerOrder.Count()>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                        </tr>

                    }
                    else
                    {
                        <tr>
                            <td>
                                @custO.ProductName
                            </td>
                            <td>
                                @custO.Stock
                            </td>
                        </tr>
                    }
                    ctr++;

                }

            }
        </tbody>
    </table>
}
else
{
    <p>
        Branch has no order history because no orders have been placed in this location yet
    </p>
}